.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg > img, .ibg .ibg__img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.tingle-modal * {
  box-sizing: border-box;
}

.tingle-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
}

@supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
  .tingle-modal {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}

.tingle-modal--confirm .tingle-modal-box {
  text-align: center;
}

.tingle-modal--noOverlayClose {
  cursor: default;
}

.tingle-modal--noClose .tingle-modal__close {
  display: none;
}

.tingle-modal__close {
  position: relative;
  top: 19px;
  left: -webkit-calc(50% - 30px);
  left: calc(50% - 30px);
  z-index: 1000;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  color: #666666;
  cursor: pointer;
  margin-top: auto;
  text-align: right;
}

.tingle-modal__close + .tingle-modal-box {
  margin-top: 0;
}

.tingle-modal__close svg * {
  fill: #666666;
}

.tingle-modal__closeLabel {
  display: none;
}

.tingle-modal__close:hover {
  color: #666666;
}

.tingle-modal-box {
  position: relative;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  max-width: 630px;
  background: -webkit-gradient(linear, left bottom, left top, from(#121212), to(#242424));
  background: linear-gradient(360deg, #121212 0%, #242424 100%);
  background-color: #242424;
  opacity: 1;
  cursor: auto;
  will-change: transform, opacity;
  border-radius: 10px;
}

.tingle-modal-box__content {
  padding: 3.125rem 2.25rem 2.5rem;
}

.tingle-modal-box__footer {
  padding: 1.5rem 2rem;
  width: auto;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: auto;
}

.tingle-modal-box__footer::after {
  display: table;
  clear: both;
  content: "";
}

.tingle-modal-box__footer--sticky {
  position: fixed;
  bottom: -200px;
  z-index: 10001;
  opacity: 1;
  -webkit-transition: bottom 0.3s ease-in-out 0.3s;
  transition: bottom 0.3s ease-in-out 0.3s;
}

.tingle-enabled {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.tingle-modal--visible .tingle-modal-box__footer {
  bottom: 0;
}

.tingle-modal--visible {
  visibility: visible;
  opacity: 1;
}

.tingle-modal--visible .tingle-modal-box {
  -webkit-animation: scale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
          animation: scale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.tingle-modal--overflow {
  overflow-y: scroll;
  padding-top: 8vh;
}

.tingle-btn {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 1rem 2rem;
  border: none;
  background-color: grey;
  box-shadow: none;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.tingle-btn--primary {
  background-color: #3498db;
}

.tingle-btn--danger {
  background-color: #e74c3c;
}

.tingle-btn--default {
  background-color: #34495e;
}

.tingle-btn--pull-left {
  float: left;
}

.tingle-btn--pull-right {
  float: right;
}

@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
  opacity: 0;
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
          transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-dragging .c-scrollbar, .has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: .5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

html, body {
  background: #121212;
  color: #fff;
}

html {
  font-size: 1rem;
}

body {
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.25;
}

.ul-normalize {
  padding-left: 0;
  list-style: none;
}

.h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.41667;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.20833;
  margin-bottom: 1rem;
}

.text-grey {
  color: #666666;
}

.text-transparent {
  color: transparent;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  max-width: 55.375em;
  margin-bottom: 1rem;
}

ul, ol {
  margin-bottom: 1rem;
}

ul:last-child:not(.save-margin), ol:last-child:not(.save-margin), li:last-child:not(.save-margin), p:last-child:not(.save-margin), h1:last-child:not(.save-margin), h2:last-child:not(.save-margin), h3:last-child:not(.save-margin), h4:last-child:not(.save-margin), h5:last-child:not(.save-margin), h6:last-child:not(.save-margin), .h1:last-child:not(.save-margin), .h2:last-child:not(.save-margin), .h3:last-child:not(.save-margin), .h4:last-child:not(.save-margin), .h5:last-child:not(.save-margin), .h6:last-child:not(.save-margin),
input:last-child:not(.save-margin), .input:last-child:not(.save-margin) {
  margin-bottom: 0;
}

.list-icons li {
  position: relative;
  padding-left: 28px;
}

.list-icons li + li {
  margin-top: 9px;
}

.list-icons__icon {
  position: absolute;
  top: 50%;
  width: auto;
  height: auto;
  max-height: 19px;
  max-width: 25px;
  right: -webkit-calc(100% - 9.5px);
  right: calc(100% - 9.5px);
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
  border-color: transparent;
}

a.like-text {
  color: inherit;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  border-bottom: 0;
}

a.like-text:hover {
  color: inherit;
  opacity: 0.6;
}

.btn {
  border-radius: 0.625em;
  font-size: 1rem;
  padding: 1.125em 1.875em;
  font-weight: 700;
  min-width: 100px;
  text-align: center;
}

a.btn {
  display: inline-block;
  border-bottom: 0;
}

.btn--full {
  background-color: #1E9AEB;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(2.9%, #109FFA), color-stop(96.38%, #046AB2));
  background-image: linear-gradient(90deg, #109FFA 2.9%, #046AB2 96.38%);
  box-shadow: inset 0px 0px 0px rgba(0, 63, 109, 0.6);
  color: #fff;
  -webkit-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
}

.btn--full:hover {
  color: #fff;
  box-shadow: inset 0px 4px 4px rgba(0, 63, 109, 0.6);
}

.btn--line {
  background: none;
  box-shadow: inset 0 0 0 1px #666666;
  color: #666666;
  -webkit-transition: color 0.2s linear, box-shadow 0.2s linear;
  transition: color 0.2s linear, box-shadow 0.2s linear;
}

.btn--line:hover {
  color: #fff;
  box-shadow: inset 0 0 0 1px #fff;
}

.input {
  font-size: 1rem;
  height: 3.125em;
  color: #fff;
  padding: 0 1em;
  border-radius: 0.625em;
  background: #2C2C2C;
  margin-bottom: 1em;
}

.input.placeholder {
  color: #666666;
}

.input::-webkit-input-placeholder {
  color: #666666;
}

.input:-ms-input-placeholder {
  color: #666666;
}

.input::-ms-input-placeholder {
  color: #666666;
}

.input::placeholder {
  color: #666666;
}

.input:-moz-placeholder {
  color: #666666;
}

.input::-moz-placeholder {
  color: #666666;
}

.input:-ms-input-placeholder {
  color: #666666;
}

.input::-ms-input-placeholder {
  color: #666666;
}

.input::-webkit-input-placeholder {
  color: #666666;
}

.section--full-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.section--full-height::before {
  content: '';
  height: 100vh;
  width: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
}

.section--center {
  text-align: center;
}

.section--mb {
  margin-bottom: 12.5vw;
}

.half-text-margin {
  margin-bottom: 0.5rem;
}

.mb-75 {
  margin-bottom: 4.6875rem;
}

.mb-100 {
  margin-bottom: 6.25rem;
}

.background-gradient {
  background: -webkit-gradient(linear, left bottom, left top, from(#121212), to(#242424));
  background: linear-gradient(360deg, #121212 0%, #242424 100%);
  background-color: #242424;
  border-radius: 10px;
}

.background-gradient-before::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#121212), to(#242424));
  background: linear-gradient(360deg, #121212 0%, #242424 100%);
  background-color: #242424;
  border-radius: 10px;
}

.background-many-gradient {
  background: -webkit-gradient(linear, left bottom, left top, from(#121212), to(#242424));
  background: linear-gradient(360deg, #121212 0%, #242424 100%);
  background-color: #242424;
  border-radius: 10px;
  position: relative;
  z-index: 0;
}

.background-many-gradient::before, .background-many-gradient::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(#121212), to(#242424));
  background: linear-gradient(360deg, #121212 0%, #242424 100%);
  background-color: #242424;
}

.background-many-gradient::before {
  z-index: -1;
  opacity: 0.4;
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px);
  width: -webkit-calc(100% + 30px);
  width: calc(100% + 30px);
}

.background-many-gradient::after {
  z-index: -2;
  opacity: 0.2;
  height: -webkit-calc(100% - 80px);
  height: calc(100% - 80px);
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
}

.background-many-gradient--one-layout::after {
  display: none;
}

.background-many-gradient.background-many-gradient--small::before {
  height: -webkit-calc(100% - 18px);
  height: calc(100% - 18px);
  width: -webkit-calc(100% + 18px);
  width: calc(100% + 18px);
}

.background-many-gradient.background-many-gradient--small::after {
  height: -webkit-calc(100% - 36px);
  height: calc(100% - 36px);
  width: -webkit-calc(100% + 36px);
  width: calc(100% + 36px);
}

.background-many-gradient--circle {
  border-radius: 50%;
}

.background-many-gradient--circle::before, .background-many-gradient--circle::after {
  border-radius: 50%;
}

.background-many-gradient--circle::before {
  height: -webkit-calc(100% + 30px);
  height: calc(100% + 30px);
}

.background-many-gradient--circle::after {
  height: -webkit-calc(100% + 60px);
  height: calc(100% + 60px);
}

.help-card {
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.help-card__img {
  border-radius: 50%;
  overflow: hidden;
  max-width: 74px;
  margin-right: 1.25rem;
}

.modal {
  display: none;
}

.modal__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 10px -8px 0;
}

.modal__footer .btn {
  margin: 5px 8px 0;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
}

.header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header__logo {
  max-width: 130px;
  margin-right: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__burger {
  width: 18px;
  height: 11px;
  position: relative;
  margin-right: 10px;
  z-index: 1001;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.header__burger::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  display: block;
}

.header__burger div {
  height: 1px;
  background: #fff;
  position: absolute;
  width: 100%;
  top: 5px;
  left: 0;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.header__burger div:first-child {
  top: 0;
}

.header__burger div:last-child {
  top: auto;
  bottom: 0;
}

.header__burger.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__burger.active div:first-child {
  -webkit-transform: translate(0, 5px) rotate(-45deg);
          transform: translate(0, 5px) rotate(-45deg);
}

.header__burger.active div:last-child {
  -webkit-transform: translate(0, -5px) rotate(45deg);
          transform: translate(0, -5px) rotate(45deg);
}

.header__burger.active div {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.header__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  white-space: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  top: 100%;
  left: 0;
  z-index: 1001;
  position: absolute;
  background: #121212;
  padding: 1em;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.header__links.transition {
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.header__links.active {
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s 0s, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s 0s, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s 0s, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s 0s, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__links__item {
  text-align: center;
}

.header__links__item--lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.header__links a {
  padding: 0.5em 1em;
  display: block;
}

.header__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin-left: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__social__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__social a {
  padding: 5px;
}

.header__language {
  margin-left: 1em;
  position: relative;
}

.header__language__curent {
  position: relative;
  padding-right: 16px;
}

.header__language__curent:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  border-width: 8px 5px 0em 5px;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.header__language__curent.active::after {
  -webkit-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.header__language__modal {
  position: absolute;
  top: 110%;
  right: 0;
  background: #121212;
  min-width: 80px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.header__language__modal.active {
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s 0s, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s 0s, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s 0s, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s 0s, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__language__modal a {
  display: block;
  padding: 0.5em 1em;
}

.header > .header__language {
  display: none;
}

.section-1 {
  position: relative;
}

.section-1::before {
  min-height: 300px;
}

.section-1 .container {
  height: 0;
}

.section-1 img {
  max-width: 56.5625vw;
  position: absolute;
  top: 49.5%;
  left: 49.9%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.custom-block-1 {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}

.custom-block-1 p {
  text-align: left;
}

.custom-block-1 .background-many-gradient {
  padding: 30px 15px 15px;
}

.custom-block-1 .image-video-first, .custom-block-1 .image-video-last {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.custom-block-1 .image-video-first, .custom-block-1 #boxVideo {
  pointer-events: none;
}

.custom-block-1 .image-video-first {
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  display: inline-block;
}

.custom-block-1 .image-video-last {
  margin-bottom: 10%;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
}

.custom-block-1__svg {
  width: 21%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-bottom: -31%;
}

.custom-block-1 #boxVideo {
  opacity: 1;
  width: -webkit-calc(200% - 100px) !important;
  width: calc(200% - 100px) !important;
  height: auto !important;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -webkit-calc(-50% + 25px);
  margin-top: calc(-50% + 25px);
  z-index: 1;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.custom-block-1 #boxVideo::before {
  content: '';
  padding-top: 100%;
  display: block;
  width: 0;
}

.custom-block-1 #boxVideo canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.custom-block-1__decor {
  display: none;
}

.custom-block-1__decor__img {
  position: absolute;
}

.custom-block-1__decor__img--1 {
  top: 16.15428%;
  right: 113%;
}

.custom-block-1__decor__img--2 {
  top: 41.89944%;
  right: 95%;
}

.custom-block-1__decor__img--3 {
  bottom: 40px;
  right: 107%;
}

.custom-block-1__decor__img--4 {
  top: 45%;
  left: 115%;
}

.custom-block-1__decor__img--5 {
  bottom: 0;
  right: -635px;
  -webkit-transform: translate(0%, 30%);
          transform: translate(0%, 30%);
}

.scrolling .custom-block-1 .image-video-first, .scrolling .custom-block-1 .image-video-last {
  opacity: 1;
}

.scrolling .custom-block-1 #boxVideo {
  opacity: 0;
}

.features {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.features__item {
  margin-bottom: 1rem;
  position: relative;
  min-height: 14px;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  color: #666666;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  text-align: left;
}

.features__item::before {
  content: '';
  width: 14px;
  height: 14px;
  background: url("../img/arrow-feature.svg") no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 2px;
  left: -22px;
  opacity: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  pointer-events: none;
}

.features__item:hover {
  color: inherit;
}

.features__item:hover::before {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.grid-messages {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.grid-messages__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
          flex: 1 1 100%;
}

.grid-messages__item--left {
  margin-top: 1rem;
  margin-bottom: 1.875rem;
}

.grid-messages__item--center {
  background: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
          order: -1;
  text-align: center;
  margin: 30px 15px;
}

.grid-messages__message {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px 15px;
  position: relative;
}

.grid-messages__message + .grid-messages__message {
  margin-top: 1.875rem;
}

.form-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.form-vertical input {
  width: 100%;
}

.form-small {
  max-width: 370px;
  padding: 1.875rem;
}

.form-custom-1 {
  margin-top: 30px;
  position: relative;
}

.form-custom-1__imgs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: none;
}

.form-custom-1__img {
  position: absolute;
  pointer-events: none;
  max-width: none;
}

.form-custom-1__img--left {
  bottom: 0;
  left: 2.5rem;
  -webkit-transform: translate(-82%, 16%);
          transform: translate(-82%, 16%);
}

.form-custom-1__img--right {
  z-index: -1;
  opacity: 0.8;
  top: 1.875rem;
  right: 0;
  -webkit-transform: translate(67%, 0%) scaleX(-0.75) scaleY(0.75);
          transform: translate(67%, 0%) scaleX(-0.75) scaleY(0.75);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}

.form-custom-1__decors {
  display: none;
}

.form-custom-1__decor {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  pointer-events: none;
  z-index: -1;
}

.form-custom-1__decor--01 {
  right: 103%;
}

.form-custom-1__decor--02 {
  left: 93%;
}

.social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 1.7em;
}

.social-list__item {
  margin: 0 auto;
  padding: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.social-list__item svg, .social-list__item img {
  max-height: 20px;
  margin-right: 7px;
}

.social-list--width-100 {
  width: 100%;
}

.row-path {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  position: relative;
  padding-left: 32px;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.row-path::before {
  content: '';
  height: 100%;
  width: 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(50%, white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 39px;
}

.row-path__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-left: 32px;
  position: relative;
  text-align: left;
}

.row-path__item::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #fff;
  z-index: 1;
  background: #121212;
}

.row-path__item::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  background: #1E9AEB;
  border-radius: 50%;
  z-index: 2;
}

.row-path__item + .row-path__item {
  margin-top: 1.25em;
}

.row-path__num {
  position: absolute;
  top: 0;
  left: -32px;
  line-height: 1;
}

.row-pay__wrapper {
  margin-top: 1.875rem;
}

.row-pay__item {
  padding: 30px 15px;
  height: 100%;
  max-width: 270px;
  margin-right: auto;
  margin-left: auto;
}

.row-pay__item > * {
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.carousel-offers {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.carousel-offers .splide__track {
  overflow: visible;
}

.carousel-offers .splide__list {
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-offers__item {
  padding: 30px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.carousel-offers__item .row {
  width: 100%;
  max-width: 670px;
}

.carousel-offers__img {
  position: relative;
  text-align: center;
}

.carousel-offers__img img, .carousel-offers__img svg {
  display: none;
}

.carousel-offers__img-mob {
  margin-top: 20px;
  margin-bottom: 30px;
}

.carousel-offers__text {
  text-align: center;
}

.carousel-offers__text p {
  text-align: left;
}

.carousel-offers__text .btn {
  margin-top: 1em;
}

.carousel-offers .splide__pagination__page {
  width: 8px;
  height: 8px;
  background: #666666;
  margin: 3px 8px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
}

.carousel-offers .splide__pagination__page::before {
  content: '';
  position: absolute;
  left: -3px;
  right: -3px;
  top: 0;
  height: 100%;
}

.carousel-offers .splide__pagination__page.is-active {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: #fff;
}

.carousel-offers .splide__pagination {
  position: static;
  margin-top: 38px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.carousel-offers .splide__arrows {
  position: absolute;
  top: 50%;
  width: -webkit-calc(100% + 120px + 2vw);
  width: calc(100% + 120px + 2vw);
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 100vw;
  z-index: 10;
}

.carousel-offers .splide__arrow {
  border-radius: 0;
  background: none;
  font-size: 30px;
  opacity: 1;
  width: 1em;
  height: 1em;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  line-height: 1em;
}

.carousel-offers .splide__arrow--prev {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  left: 0;
}

.carousel-offers .splide__arrow--next {
  right: 0;
}

.carousel-offers .splide__slide {
  margin-right: -webkit-calc(90px + 2vw);
  margin-right: calc(90px + 2vw);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0.4;
}

.carousel-offers .splide__slide .btn {
  -webkit-transition: background-color 0.2s linear, background-image 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
  transition: background-color 0.2s linear, background-image 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
}

.carousel-offers .splide__slide.is-active {
  opacity: 1;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  padding-top: -webkit-calc(0.9375em);
  padding-top: calc(0.9375em);
  padding-bottom: -webkit-calc(20px + 0.9375em);
  padding-bottom: calc(20px + 0.9375em);
  font-size: 12px;
}

.footer__copy {
  -webkit-align-self: center;
          align-self: center;
  margin-right: 1em;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
          flex: 1 1 50%;
}

.footer__logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: 50%;
  height: 1.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-left: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.footer__logo img, .footer__logo svg {
  max-height: 3.125em;
}

@media (min-width: 550px) {
  .form-custom-1 {
    margin-top: 75px;
  }
  .form-custom-1__imgs {
    display: block;
  }
  .form-custom-1__decors {
    display: block;
  }
}

@media (min-width: 36rem) {
  .background-many-gradient::before {
    width: -webkit-calc(100% + 40px);
    width: calc(100% + 40px);
  }
  .background-many-gradient::after {
    width: -webkit-calc(100% + 80px);
    width: calc(100% + 80px);
  }
  .background-many-gradient--circle::before {
    height: -webkit-calc(100% + 40px);
    height: calc(100% + 40px);
  }
  .background-many-gradient--circle::after {
    height: -webkit-calc(100% + 80px);
    height: calc(100% + 80px);
  }
  .modal__footer {
    margin: 14px -15px 0;
  }
  .modal__footer .btn {
    margin: 10px 15px 0;
  }
  .header__social__item + .header__social__item {
    margin-left: -webkit-calc(1em - 10px);
    margin-left: calc(1em - 10px);
  }
  .custom-block-1 .background-many-gradient {
    padding: 50px 30px 20px;
  }
  .custom-block-1 .image-video-first, .custom-block-1 .image-video-last {
    margin-right: 0;
    margin-left: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  .custom-block-1 .image-video-first {
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
  }
  .custom-block-1 .image-video-last {
    width: 100%;
  }
  .custom-block-1 #boxVideo {
    width: -webkit-calc(200% - 120px) !important;
    width: calc(200% - 120px) !important;
    margin-top: -webkit-calc(-50% + 30px);
    margin-top: calc(-50% + 30px);
  }
  .features__item {
    padding-left: 45px;
    min-height: 30px;
  }
  .features__item::before {
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
  }
  .grid-messages__item--center {
    margin: 40px 25px;
  }
  .row-pay__wrapper {
    margin-top: 2.625rem;
  }
  .row-pay__item {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
  .footer {
    font-size: 1rem;
  }
}

@media (min-width: 660px) {
  .tingle-modal__close {
    left: 300px;
  }
}

@media (min-width: 48rem) {
  .background-many-gradient.background-many-gradient--small.background-many-gradient--box-md {
    margin-left: 18px;
    margin-right: 18px;
  }
  .custom-block-1__decor {
    display: block;
  }
  .row-pay__item {
    max-width: 300px;
  }
  .row-pay__wrapper:nth-child(2n + 1) .row-pay__item {
    margin-left: auto;
  }
  .carousel-offers__img img, .carousel-offers__img svg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    max-height: -webkit-calc(100% + 85px);
    max-height: calc(100% + 85px);
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
  .carousel-offers__img-mob {
    display: none;
  }
  .carousel-offers__text {
    text-align: left;
  }
  .carousel-offers__text .btn {
    margin-top: 0.3em;
  }
}

@media (min-width: 62rem) {
  .h2 {
    font-size: 1.75rem;
  }
  .header {
    padding-top: 1.875em;
    padding-bottom: 1.25em;
  }
  .header__logo {
    max-width: 180px;
  }
  .header__burger {
    display: none;
  }
  .header__links {
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    margin-right: 2em;
    margin-left: 2em;
    max-width: 560px;
    position: relative;
    background: none;
    padding: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header__links__item {
    margin: 0;
  }
  .header__links__item--lang {
    display: none;
  }
  .header__links a {
    padding: 5px;
  }
  .header__links .header__language {
    display: none;
  }
  .header > .header__language {
    display: block;
  }
  .grid-messages__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
  .grid-messages__item--left {
    margin-top: 0;
    margin-bottom: 0;
  }
  .grid-messages__item--left .grid-messages__message:first-child {
    border-bottom-right-radius: 0;
  }
  .grid-messages__item--left .grid-messages__message:first-child::before {
    bottom: 0;
    left: 100%;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .grid-messages__item--left .grid-messages__message:last-child {
    border-top-right-radius: 0;
  }
  .grid-messages__item--left .grid-messages__message:last-child::before {
    top: 0;
    left: 100%;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .grid-messages__item--center {
    margin: 40px 0;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
            order: 0;
    max-width: 33.333%;
  }
  .grid-messages__item--right .grid-messages__message:first-child {
    border-bottom-left-radius: 0;
  }
  .grid-messages__item--right .grid-messages__message:first-child::before {
    bottom: 0;
    right: 100%;
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .grid-messages__item--right .grid-messages__message:last-child {
    border-top-left-radius: 0;
  }
  .grid-messages__item--right .grid-messages__message:last-child::before {
    top: 0;
    right: 100%;
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .grid-messages__item--left, .grid-messages__item--right {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }
  .grid-messages__message::before {
    content: '';
    position: absolute;
    height: 1px;
    background: #fff;
    width: 60px;
  }
  .form-custom-1 {
    margin-bottom: 100px;
  }
  .row-path--lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.25em;
    padding-right: 2.5em;
    margin-bottom: 6.245%;
  }
  .row-path--lg::before {
    left: 0;
    height: 2px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, white), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    bottom: 8px;
  }
  .row-path--lg::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 6.245%;
    top: 100%;
    margin-top: -5px;
    background: url("../img/long-arrow.svg") no-repeat top center;
    background-size: contain;
  }
  .row-path--lg .row-path__item {
    -webkit-box-flex: 3;
    -webkit-flex: 3 1 0%;
            flex: 3 1 0%;
    margin-left: 1.25em;
    padding-left: 0;
    padding-bottom: 26px;
  }
  .row-path--lg .row-path__item:before {
    top: auto;
    bottom: 0;
    left: -7px;
  }
  .row-path--lg .row-path__item::after {
    top: auto;
    bottom: 5px;
    left: -2px;
  }
  .row-path--lg .row-path__item:last-child {
    -webkit-box-flex: 2;
    -webkit-flex: 2 1 0%;
            flex: 2 1 0%;
  }
  .row-path--lg .row-path__item + .row-path__item {
    margin-top: 0;
  }
  .row-path--lg .row-path__num {
    top: -webkit-calc(100% + 16px);
    top: calc(100% + 16px);
    left: -7px;
    z-index: 2;
  }
  .row-pay__item {
    max-width: none;
  }
  .row-pay__wrapper:nth-child(2n + 1) .row-pay__item {
    margin-left: 0;
  }
}

@media (min-width: 79rem) {
  .header__logo {
    max-width: 220px;
  }
  .header__social__item + .header__social__item {
    margin-left: -webkit-calc(1.25em - 10px);
    margin-left: calc(1.25em - 10px);
  }
  .header__language {
    margin-left: 1.25em;
  }
  .grid-messages__item--left .grid-messages__message {
    margin-right: 30px;
  }
  .grid-messages__item--right .grid-messages__message {
    margin-left: 30px;
  }
  .grid-messages__message::before {
    width: 100px;
  }
}

@media (min-width: 1375px) {
  .section--mb {
    margin-bottom: 110px;
  }
}

@media (min-width: 1830px) {
  .custom-block-1__decor__img--5 {
    right: -webkit-calc(315px - 50vw);
    right: calc(315px - 50vw);
  }
}

@media (max-width: 540px) {
  .tingle-modal-box {
    font-size: 14px;
  }
  .tingle-modal {
    top: 0;
    padding-top: 60px;
    width: 100%;
  }
  .tingle-modal-box {
    width: auto;
    border-radius: 0;
  }
  .tingle-modal--noClose {
    top: 0;
  }
  .tingle-modal--noOverlayClose {
    padding-top: 0;
  }
  .tingle-modal-box__footer .tingle-btn {
    display: block;
    float: none;
    margin-bottom: 1rem;
    width: 100%;
  }
  .tingle-modal__close {
    left: -webkit-calc(50% - 20px);
    left: calc(50% - 20px);
  }
}

@media (max-width: 380px) {
  .tingle-modal-box {
    font-size: 12px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
